[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "napari-wsi"
version = "0.1.0"
description = "A plugin to read whole slide images within napari."
license="Apache-2.0"
authors = [
    "Philipp Plewa <philipp.plewa@astrazeneca.com>",
]
maintainers = [
    "Philipp Plewa <philipp.plewa@astrazeneca.com>",
    "Robert Schweizer <robert.schweizer@astrazeneca.com>",
]
readme = "README.md"
repository = "https://github.com/AstraZeneca/napari-wsi"
classifiers = [
    "Framework :: napari",
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "Topic :: Scientific/Engineering :: Image Processing",
]

[tool.poetry.dependencies]
python = ">=3.8, <3.11"
dask = ">=2022"
imagecodecs = ">=2022"
magicgui = "0.*"
matplotlib = "3.*"
napari = "0.4.*"
numpy = "1.*"
pydantic = "!=1.10.0" # https://github.com/napari/napari/issues/4995
rasterio = "1.*"
tifffile = ">=2022"
zarr = "2.*"

[tool.poetry.group.dev.dependencies]
black = "22.3.*"
invoke = "1.7.*"
isort = "5.10.*"
mypy= "==0.990"
pylint = "2.13.*"
pytest = "7.2.*"
pytest-cov = "4.0.*"
pytest-qt = "4.2.*"
scikit-image = "0.*"

[tool.poetry.plugins."napari.manifest"]
napari-wsi = "napari_wsi:napari.yaml"

[tool.isort]
profile = "black"

[tool.mypy]
exclude = ["venv"]

[[tool.mypy.overrides]]
module = [
    "distributed.*",
    "invoke.*",
    "matplotlib.*",
    "napari.*",
    "rasterio.*",
    "skimage.*",
    "tifffile.*",
    "zarr.*",
]
ignore_missing_imports = true

[tool.pylint."MESSAGES CONTROL"]
disable = """
duplicate-code,
invalid-name,
missing-docstring,
too-many-arguments,
too-many-locals,
"""
